@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

@layer components {
    .btn {
        @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm;
    }
}

.btn-instagram,
.btn-email,
.btn-linkedin {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: #E5E7EB; /* Add background color */
    transition: background-color 0.3s ease;
}

.btn-instagram:hover {
    background-color: #E1306C;
}

.btn-email:hover {
    background-color: #D44638;
}

.btn-linkedin:hover {
    background-color: #0072B1;
}
.a {
    color: #42b983;
    text-decoration: none;
    position: relative;
}

.a::before,
.a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #42b983;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.a::before {
    transform-origin: right;
}

.a:hover::before,
.a:hover::after {
    transform: scaleX(1);
}

.a:hover::before {
    transition-delay: 0.2s;
}

.a:hover::after {
    transition-delay: 0s;
}